body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding: 94px 0;
}

.no-padding {
  padding-top: 0;
}
