body {
  font-family: var(--font-primary);
  font-style: normal;

  background-color: var(-color-bg-primary);
  color: var(--color-text-primary);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}
