@mixin centeredFlex($type) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin transition($property) {
  transition-property: $property;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
